@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Roboto+Mono&display=swap');

body {
    background-color: #F0F4F2;
    font-family: "Roboto Mono", arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color: #356DAD;
}
h2 {
    margin: 0;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
  text-align: center;
}
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
    background-color: white;
    color: #356DAD;
}
.home-title {
    color: #19384D;
    font-family: "Edu QLD Beginner", Verdana, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #356DAD;
    font-family: "Edu QLD Beginner";
}
.book {
    background-color: #A4876A;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #F0F4F2;
    color: #19384D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #A4876A;
    color: #356DAD;
    
}
.join:hover {
    background-color: #19384D;
    color: #356DAD;
}
.card-img {
    border: 10px solid #19384D;
}
.river-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.msg {
    background-color: #356DAD;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #F0F4F2;
}
.msg p {
    color: #F0F4F2;
    font-size: .8em;
    padding-bottom: 15px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;   
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;    
}
#background {
    height: 725px;
    background-color: #A4876A;
}
footer {
    background-color: #356DAD;
    color: #F0F4F2;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #F0F4F2;
    text-decoration: none;
}
footer a:hover {
    color: #F0F4F2
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img { 
padding-top: 15px;
}
