@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Roboto+Mono&display=swap');

body {
    background-color: #F0F4F2;
    font-family: "Roboto Mono", arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color: #356DAD;
    display: grid;
    grid-template-columns: 150px auto;
}
h2 {
    margin: 0;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;   
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
    color: white;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}
nav a:hover {
    background-color: white;
    color: #356DAD;
}
.home-title {
    color: white;
    font-family: "Edu QLD Beginner", Verdana, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
h4 {
    color: #356DAD;
    font-family: "Edu QLD Beginner";
}
.book {
    background-color: #A4876A;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color: #F0F4F2;
    color: #19384D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #A4876A;
    color: #356DAD;
    
}
.join:hover {
    background-color: #19384D;
    color: #356DAD;
}
.card-img {
    border: 10px solid #19384D;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
    
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.msg {
    background-color: #356DAD;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #F0F4F2;
}
.msg p {
    color: #F0F4F2;
    font-size: .8em;
    padding-bottom: 15px;
}
.button-box {
    text-align: center;   
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;    
}
#background {
    height: 725px;
    background-color: #A4876A;
    grid-column: 1/11;
    grid-row: 4/9;
}
footer {
    background-color: #356DAD;
    color: #F0F4F2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #F0F4F2;
    text-decoration: none;
}
footer a:hover {
    color: #F0F4F2
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img { 
padding-top: 15px;
}

.title-box {
    background-color: #19384D;
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-family: "Edu QLD Beginner", Verdana, sans-serif;
    text-align: center;
}
.destination {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 30px;
}


.salmon-river {
    height: 400px;
    background-color: lightgrey;
    line-height: 1.5em;
    padding: 25px;
    margin-top: 50px;
    grid-column: 5/11;
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #6f7364;
    overflow: hidden;
    overflow-y: scroll;
    border: 20px solid #19384D;
}
.desolation {
    height: 400px;
    background-color: lightgrey;
    line-height: 1.5em;
    padding: 25px;
    Margin-top: 50px;
    grid-column: 1/7;
    grid-row: 2/3;
    box-shadow: 5px 5px 10px #6f7364;
    overflow: hidden;
    overflow-y: scroll;
    border: 20px solid #19384D;
}
.grand-canyon {
    height: 400px;
    background-color: lightgrey;
    line-height: 1.5em;
    padding: 25px;
    Margin-top: 80px;
    grid-column: 5/11;
    grid-row: 3/4;
    box-shadow: 5px 5px 10px #6f7364;
    overflow: hidden;
    overflow-y: scroll;
    border: 20px solid #19384D;
}
.river-salmon-img {
    border: 20px solid #19384D;
    width: 600px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/4;
    grid-row: 1/2; 
    margin-top: 70px;
}
.river-desolation-img {
    border: 20px solid #19384D;
    width: 600px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 8/11;
    grid-row: 2/3; 
    margin-top: 70px;
}
.river-grand-img {
    border: 20px solid #19384D;
    width: 600px;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 70px;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
      
